{% extends "user.html" %}

{% block title %}
    公司注册
{% endblock %}

{% block content %}

    {#    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <style>
        div.thesis {
            margin: auto;
            width: 600px;
            height: 600px;
        }

        form {
            width: 450px;
        }

        form input, select {
            font-size: 15px;
            font-family: "Microsoft yahei";
            margin-bottom: 5px;
            height: 24px;
            width: 280px;
            background-color: #b1d5eb;
        }

        input[type='submit'], input[type='reset'] {
            display: inline-block;
            margin-right: 30px;
            width: 100px;
        }

        div.button {
            float: right;
        }

        p {
            width: 100%;
            text-align: right;
        }
    </style>

    <div class="thesis">
        <br/>
        <h3>公司注册-请按要求填写下列表单完成提交 </h3>
        <br/>
        <form action="{{ url_for('main.user_company') }}" method="post" enctype="multipart/form-data">
            <p>所在学院：<input type="text" name="academy" placeholder="请输入所在学院"></p>
            <p>公司名称:<input type="text" name="company_name" placeholder="请输入公司名称"></p>
            <p>公司类型:<input type="text" name="company_category" placeholder="请输入公司类型"></p>
            <p>法人代表学生姓名:<input type="text" name="legal_person_name" placeholder="请输入法人代表学生姓名"></p>
            <p>法人代表学号:<input type="text" name="legal_person_number" placeholder="请输入法人代表学号"></p>
            <p>法人代表电话:<input type="text" name="legal_person_phone_number" placeholder="请输入法人代表电话"></p>
            <p>法人代表qq:<input type="text" name="legal_person_qq" placeholder="请输入法人代表qq"></p>
            <p>专业班级:<input type="text" name="legal_person_class" placeholder="请输入专业班级"></p>
            <p>公司注册地址:<input type="text" name="register_addr" placeholder="请输入公司注册地址"></p>
            <p>公司注册资本:<input type="text" name="register_capital" placeholder="请输入公司注册资本"></p>
            <p>公司注册时间:<input type="text" name="register_date" placeholder="请输入公司注册时间" id="datepicker"></p>
            <p>公司经营范围:<input type="text" name="scope" placeholder="请输入公司经营范围"></p>
            <p>统一社会信用代码:<input type="text" name="credit_code" placeholder="请输入统一社会信用代码"></p>
            <p>
                附件上传:(支持格式：jpg, png；最大支持2M)
                <input type="file" name="picture" title="picture" accept="image/jpeg,image/png">
            </p>
            <br/>
            <div class="button">
                <input type="submit" value="提交" id="submit">
                <input type="reset" value="重置">
            </div>
        </form>


    </div>


    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        $("#datepicker").datepicker({
            changeDay: true,
            changeMonth: true,
            changeYear: true
        });
        $('#submit').click(
                function () {
                    var values = $("input[type='text']");
                    var files = $("input[type='file']");
                    if (!files.val()) {
                        alert('附件项请认真写全');
                        return false;
                    }

                    for (var i in values) {
                        if (values[i].value == '') {
                            alert('表单项请认真写全');
                            return false;
                        }
                    }
                    return confirm("提交后不能更改，确认是否提交？");
                }
        );
    </script>

{% endblock %}