{% extends "user.html" %}

{% block title %}
    获批专利
{% endblock %}

{% block content %}
    {#    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <style>
        div.thesis {
            margin: auto;
            width: 600px;
            height: 600px;
        }

        form {
            width: 450px;
        }

        form input, select {
            font-size: 15px;
            font-family: "Microsoft yahei";
            margin-bottom: 4px;
            height: 25px;
            width: 280px;
            background-color: #b1d5eb;
        }

        input[type='submit'], input[type='reset'] {
            display: inline-block;
            margin-right: 30px;
            width: 100px;
        }

        div.button {
            float: right;
        }

        p {
            width: 100%;
            text-align: right;
        }
    </style>

    <div class="thesis">
        <br/>
        <h3>获批专利-请按要求填写下列表单完成提交 </h3>
        <br/>
        <form action="{{ url_for('main.user_patent') }}" method="post" enctype="multipart/form-data">
            <p>所在学院：<input type="text" title="stu_academy" name="stu_academy" placeholder="请输入所在学院"></p>
            <p>专利名称:<input type="text" title="patent_name" name="patent_name" placeholder="请输入专利名称"></p>
            <p>专利类别:<input type="text" title="patent_categorg" name="patent_categorg" placeholder="请输入专利类别"></p>
            <p>专利权人:<input type="text" title="patentee" name="patentee" placeholder="请输入专利权人"></p>
            <p>发明人:<input type="text" title="inventor" name="inventor" placeholder="请输入发明人"></p>
            <p>位次:<input type="text" title="weici" name="weici" placeholder="请输入位次"></p>
            <p>发明人电话:<input type="text" title="inventor_phone" name="inventor_phone" placeholder="请输入发明人电话"></p>
            <p>发明人学号:<input type="text" title="inventor_number" name="inventor_number" placeholder="请输入发明人学号"></p>
            <p>发明人QQ:<input type="text" title="inventor_qq" name="inventor_qq" placeholder="请输入发明人QQ"></p>
            <p>专业班级:<input type="text" title="inventor_class" name="inventor_class" placeholder="请输入专业班级"></p>
            <p>专利号:<input type="text" title="patent_number" name="patent_number" placeholder="请输入专利号"></p>
            <p>证书号:<input type="text" title="certificate_number" name="certificate_number" placeholder="请输入证书号"></p>
            <p>专利申请日:<input type="text" title="date1" name="date1" placeholder="请输入专利申请日" class="datepicker"></p>
            <p>授权公告日:<input type="text" title="date2" name="date2" placeholder="请输入授权公告日" class="datepicker"></p>
            <p>
                附件上传:(支持格式：jpg, png；最大支持2M)
                <input type="file" name="picture" title="picture" accept="image/jpeg,image/png">
            </p>
            <br/>
            <div class="button">
                <input type="submit" value="提交" id="submit">
                <input type="reset" value="重置">
            </div>
        </form>


    </div>


    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        $(".datepicker").datepicker({
            changeDay: true,
            changeMonth: true,
            changeYear: true
        });
        $('#submit').click(
                function () {
                    var values = $("input[type='text']");
                    var files = $("input[type='file']");
                    if (!files.val()) {
                        alert('附件项请认真写全');
                        return false;
                    }

                    for (var i in values) {
                        if (values[i].value == '') {
                            alert('表单项请认真写全');
                            return false;
                        }
                    }
                    return confirm("提交后不能更改，确认是否提交？");
                }
        );
    </script>

{% endblock %}