* {
    margin: 0;
    padding: 0;
}

body {
    width: 960px;
    margin: auto;
    background: url("http://obmfmt907.bkt.clouddn.com/job_backgroud.jpeg");
}

/*包含整个导航页面的头部*/
.header {
    margin-top: 5px;
    width: 960px;
    height: 80px;
    /*background-color: #dedede;*/
}

/*项目名称*/
p.project_name {
    padding-left: 20px;
    float: right;
    font-size: 22px;
    font-family: '微软雅黑';
}

.logo {
    width: 30px;
    height: 30px;
    float: left;
    bottom: 2px;
}

.nav > .left-link {
    float: left;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 18px;
}

.nav > .right-link {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.right-link > ul > li {
    height: 32px;
    width: auto;
    display: inline-block;
    font-size: 17px;
}

li.user_logo > img {
    height: 32px;
    display: inline-block;
    float: right;
}

/*主页面包含左部和主页面*/
.main {
    margin: auto;
    width: 960px;
    height: 600px;
    /*background: #dedede;*/
}

.main > .left {
    float: left;
    width: 200px;
    height: 600px;
    background: #dedede;
}

.main > .content {
    float: right;
    width: 760px;
    height: 600px;
    background-color: #d1d1d1;
}

/*左侧折叠菜单*/

ul li {
    list-style: none;
}

#accordion .link {
    width: auto;
    height: 30px;
    margin: 0;
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: #c9b553;
    border: 1px solid white;
}

#accordion .link:hover {
    cursor: pointer;
}

div.link > a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.submenu > li > a {
    display: block;
    height: 30px;
    margin: 0;
    padding-top: 6px;
    text-align: center;
    font-size: 18px;
    background-color: #bbbbbb;
    border: 2px solid black;
    border-radius: 10px;
    color: #337ab7;
    text-decoration: none;
}

/*主内容样式*/

.content > h1 {
    margin-top: 10px;
    margin-left: 20px;
}

/*页脚*/

div.footer {
    height: 40px;
    /*background-color: #d4c1c0;*/
}

div.footer > p {
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    font-family: '微软雅黑';
}

div.footer > p > a {
    text-decoration: none;
}

/*添加用户*/

div.add_user {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 300px;
}

.form1 {
    width: 220px;
    height: 200px;
    margin: auto;
}

.form1 > input {
    height: 40px;
    width: 240px;
    margin-bottom: 10px;
    font-size: 16px;
    /*display: block;*/
}

.form1 > button.submit_button {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffcb7f;
}

.form1 > button.reset_button {
    margin-left: 12px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffcb7f;
}

.add_user > p {
    padding-left: 50px;
    font-family: '微软雅黑';
}

.add_user h2 {
    text-align: center;
}

/*用户列表*/

#user_list {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 400px;
    background-color: #c9c6ab;
}

