<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>竞赛管理管理-详细列表</title>
    {% import 'link.html' as macros %}
    {{ macros.css_link() }}
    {{ macros.js_link() }}
</head>
<body>

<div id="competitions_details">
    <table id="competitions_details_table" class="display nowrap" cellspacing="0" width="100%" border="1">
        <thead>
        <tr>
            <th>序号</th>
            <th>学院</th>
            <th>竞赛项目</th>
            <th>成果名称</th>
            <th>获奖级别</th>
            <th>获奖等级</th>
            <th>竞赛学生姓名</th>
            <th>学生电话</th>
            <th>学生学号</th>
            <th>学生QQ</th>
            <th>专业班级</th>
            <th>指导老师姓名</th>
            <th>指导老师职称</th>
            <th>获奖时间</th>
            <th>颁奖单位</th>
            <th>主办方</th>
            <th>查看附件</th>
        </tr>
        </thead>

        <tbody>

        {% for competition in competitions %}

            <tr>
                <td>{{ competition.id }}</td>
                <td>{{ competition.stu_academy }}</td>
                <td>{{ competition.project_name }}</td>
                <td>{{ competition.achievement_name }}</td>
                <td>{{ competition.prize_category }}</td>
                <td>{{ competition.prize_level }}</td>
                <td>{{ competition.stu_name }}</td>
                <td>{{ competition.stu_phone_number }}</td>
                <td>{{ competition.stu_number }}</td>
                <td>{{ competition.stu_qq }}</td>
                <td>{{ competition.stu_class }}</td>
                <td>{{ competition.teacher_name }}</td>
                <td>{{ competition.teacher_title }}</td>
                <td>{{ competition.prize_date }}</td>
                <td>{{ competition.award_department }}</td>
                <td>{{ competition.sponsor }}</td>
                {% set file='picture_data/%s' % competition.filename %}
                <td><a href="{{ url_for('static', filename=file) }}"
                       target="_blank ">{{ competition.filename }}</a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#competitions_details_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
</body>
</html>