<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>获批专利管理-详细列表</title>
    {% import 'link.html' as macros %}
    {{ macros.css_link() }}
    {{ macros.js_link() }}
</head>
<body>

<div id="patent_details">
    <table id="patent_details_table" class="display nowrap" cellspacing="0" width="100%" border="1">
        <thead>
        <tr>
            <th>序号</th>
            <th>学院</th>
            <th>专利名称</th>
            <th>专利类别</th>
            <th>专利权人</th>
            <th>发明人</th>
            <th>位次</th>
            <th>发明人电话</th>
            <th>发明人学号</th>
            <th>发明人QQ</th>
            <th>专业班级</th>
            <th>专利号</th>
            <th>证书号</th>
            <th>专利申请日</th>
            <th>授权公告日</th>
            <th>查看附件</th>
        </tr>
        </thead>

        <tbody>

        {% for patent in patents %}

            <tr>
                <td>{{ patent.id }}</td>
                <td>{{ patent.stu_academy }}</td>
                <td>{{ patent.patent_name }}</td>
                <td>{{ patent.patent_categorg }}</td>
                <td>{{ patent.patentee }}</td>
                <td>{{ patent.inventor }}</td>
                <td>{{ patent.weici }}</td>
                <td>{{ patent.inventor_phone }}</td>
                <td>{{ patent.inventor_number }}</td>
                <td>{{ patent.inventor_qq }}</td>
                <td>{{ patent.inventor_class }}</td>
                <td>{{ patent.patent_number }}</td>
                <td>{{ patent.certificate_number }}</td>
                <td>{{ patent.date1 }}</td>
                <td>{{ patent.date2 }}</td>
                {% set file='picture_data/%s' % patent.filename %}
                <td><a href="{{ url_for('static', filename=file) }}"
                       target="_blank ">{{ patent.filename }}</a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#patent_details_table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
</body>
</html>