{% extends "management.html" %}

{% block title %}
    获批专利列表
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"
          type="text/css">
    <br/>
    <h3>获批专利提交管理列表。注意：此表是简表，<a href="{{ url_for('main.manager_create_project_details') }}" target="_blank">点击前去查看详细表</a>
    </h3>
    <br/>

    <div id="other_details">
        <table id="other_details_table" class="display nowrap" cellspacing="0" width="100%" border="1">
            <thead>
            <tr>
                <th>序号</th>
                <th>专利名称</th>
                <th>专利类别</th>
                <th>专利权人</th>
                <th>发明人</th>
            </tr>
            </thead>

            <tbody>
            {% for create_project in create_projects %}

                <tr>
                    <td>{{ create_project.id }}</td>
                    <td>{{ create_project.c_project_name }}</td>
                    <td>{{ create_project.c_year }}</td>
                    <td>{{ create_project.c_stu_name }}</td>
                    <td>{{ create_project.c_of_class }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#other_details_table').DataTable({
                "paging": true,
                "ordering": true,
                "info": true
            });


        });
    </script>

{% endblock %}