{% extends "management.html" %}

{% block title %}
    论文发表列表
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"
          type="text/css">
    <br/>
    <h3>论文发表提交管理列表。注意：此表是简表，<a href="{{ url_for('main.manager_theses_details') }}" target="_blank">点击前去查看详细表</a>
    </h3>
    <br/>

    <div id="patent_details">
        <table id="patent_details_table" class="display nowrap" cellspacing="0" width="100%" border="1">
            <thead>
            <tr>
                <th>序号</th>
                <th>学生姓名</th>
                <th>刊物名称</th>
                <th>论文名称</th>
                <th>发表日期</th>
            </tr>
            </thead>

            <tbody>
            {% for thesis in theses %}

                <tr>
                    <td>{{ thesis.id }}</td>
                    <td>{{ thesis.stu_name }}</td>
                    <td>{{ thesis.publication_name }}</td>
                    <td>{{ thesis.thesis_name }}</td>
                    <td>{{ thesis.publication_date }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#patent_details_table').DataTable({
                "paging": true,
                "ordering": true,
                "info": true
            });


        });
    </script>

{% endblock %}