{% extends "management.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" type="text/css">
    <style type="text/css">
        /*用户列表*/

        #user_list {
            margin: auto;
            width: 750px;
            height: 600px;
        }

        button.reset_button {
            width: 90px;
            height: 25px;
            border-radius: 2px;
            background-color: #ffcb7f;
        }
    </style>
    <div id="user_list">
        <table id="user" class="display nowrap" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>使用者/公司名</th>
                <th>权限</th>
                <th>创建日期</th>
                <th>创建者</th>
                {#                <th>备注</th>#}
                <th>密码重置</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td>ID</td>
                <td>用户名</td>
                <td>使用者/公司名</td>
                <td>权限</td>
                <td>创建日期</td>
                <td>创建者</td>
                {#                <td>备注</td>#}
                <td>密码重置</td>
            </tr>
            </tfoot>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.real_name }}</td>
                    <td>{{ user.power }}</td>
                    <td>{{ user.created_date }}</td>
                    <td>{{ user.created_people }}</td>
                    {# <td>{{ user.comment }}</td>#}
                    <td>
                        <button type="button" class="reset_button">密码重置</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#user').DataTable();
        });

        $('.reset_button').click(function (e) {
            var v_id = $(e.target).parent().parent().children('td');
            {#            var v_id = $(e.target).attr('class');#}

            if (confirm("是否对该用户进行密码重置？ 充值后该账号密码为\'123456\' 6个数字")) {
                //进行请求
                post_id = v_id[0].innerHTML;
                {#                alert(post_id);#}
                $.post(
                        '{{ url_for('main.manager_reset_password') }}',
                        {'user_id': post_id},
                        function (result) {
                            {#                            alert("result is " + result);#}
                            if (result == 'OK')
                                alert("指定修改密码成功");
                            else
                                alert("发生了未知错误");
                        }
                );
            }
            else {
                //略过
            }
        });


    </script>
{% endblock %}