<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/folder_python.ico') }}" type="imgge/x-icon">
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"#}
    {#          type="text/css">#}
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css"#}
    {#          type="text/css">#}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>

<div class="header">
    <div class="nav">
        <div class="left-link">
            <p class="project_name">
                <img src="{{ url_for('static', filename='img/folder_python_logo.png') }}" class="logo">
                <strong>大学生创新创业活动管理系统</strong>
            </p>
        </div>
        <div class="right-link">
            <ul>
                {% if current_user.is_authenticated %}
                    <li class="text">欢迎您,{{ current_user.username }}</li>
                    <li class="text">
                        <a href="{{ url_for('main.logout') }}" style="color: blue">[ 退出登录 ]</a>
                    </li>
                {% else %}
                    <li class="user_logo"><img src="{{ url_for('static', filename='img/user_ok_32px.ico') }}"></li>
                    <li class="text"><a href="{{ url_for("main.login") }}">您好，请登录</a></li>
                {% endif %}
                <div class="flash">
                    {% for message in get_flashed_messages() %}
                        {{ message }}
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="main">
    {% block main %}
    {% endblock %}
</div>

<div class="footer">
    <p>&copy;Copyright 2016 ，SDUT&nbsp;<a href="http://cxcy.sdut.edu.cn/" target="_blank">创新创业学院</a></p>
</div>

{#<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>#}
{#<script src="https://code.jquery.com/jquery-1.12.3.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>#}
{#<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>#}
{#<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>#}
{#<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>#}
{#<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>#}
{#<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>#}
{#<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>#}


</body>
</html>