{% extends "base.html" %}

{% block main %}
    <div class="form_div">
        <form action="#" method="get" class="form">
            <h3>欢迎使用，请登录！</h3>
            <br/>
            <input type="email" name="username" class="username" placeholder="请输入您的用户名！">
            <input type="password" name="password" class="password" placeholder="请输入您的用户密码！">
            <button type="submit" class="submit_button">登录</button>
            <button type="reset" class="reset_button">重置</button>
        </form>
    </div>

    <style type="text/css">
        .main {
            border: solid 3px #d1d1d1;
        }

        div.form_div {
            margin: auto;
            padding-top: 20px;
            height: 300px;
            width: 500px;
        }

        .form {
            text-align: center;
            width: 220px;
            height: 200px;
            margin: auto;
        }

        .form > input {
            height: 40px;
            width: 240px;
            margin-bottom: 10px;
            font-size: 16px;
            /*display: block;*/
        }

        .form > button.submit_button {
            height: 45px;
            width: 100px;
            border-radius: 5px;
            font-size: 16px;
            background-color: #ffcb7f;
        }

        .form > button.reset_button {
            margin-left: 12px;
            height: 45px;
            width: 100px;
            border-radius: 5px;
            font-size: 16px;
            background-color: #ffcb7f;
        }

        @-webkit-keyframes tu {
            0% {
                -webkit-transform: scale(1);
                background-color: #eee;
                border-radius: 10px;
            }
            40% {
                -webkit-transform: scale(1.5);
                background-color: #bbb;
                border-radius: 10px;
            }
            100% {
                -webkit-transform: scale(1);
                background-color: #eee;
                border-radius: 10px;
            }
        }

        .form > button:hover {
            -webkit-animation-name: tu;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
        }

    </style>
{% endblock %}
