{% extends "base.html" %}

{% block title %}
    管理首页
{% endblock %}

{% block main %}

    <div class="left" id="accordion">
        <ul>
            <li>
                <div class="link"><a href="{{ url_for('main.index') }}">后台管理首页</a></div>
            </li>
            <li>
                <div class="link">账号管理</div>
                <ul class="submenu">
                    <li><a href="{{ url_for('main.manager_add_user') }}" title="add_user"> 添加新用户</a></li>
                    <li><a href="{{ url_for('main.manager_user_list') }}" title="user_list">用户列表</a></li>
                </ul>
            </li>

            <li>
                <div class="link">竞赛管理</div>
                <ul class="submenu">
                    <li><a href="{{ url_for('main.manager_add_new_project') }}" title="add_new_project">添加新项目</a></li>
                    <li><a href="{{ url_for('main.manager_project_list') }}" title="project_list">查看项目列表</a></li>
                    <li><a href="#" title="competition_details">竞赛详情</a></li>
                </ul>
            </li>
            <li>
                <div class="link">论文管理</div>
                <ul class="submenu">
                    <li><a href="#" title="thesis_list">论文列表</a></li>
                </ul>
            </li>
            <li>
                <div class="link">项目立项管理</div>
                <ul class="submenu">
                    <li><a href="#" title="create_project_list">项目列表</a></li>
                </ul>
            </li>
            <li>
                <div class="link">公司注册管理</div>
                <ul class="submenu">
                    <li><a href="#" title="company_list">公司注册列表</a></li>
                </ul>
            </li>
            <li>
                <div class="link">其他成果管理</div>
                <ul class="submenu">
                    <li><a href="#" title="other_list">其他成果列表</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content" id="content">
        {% block content %}

            <style>
                div.user_index {
                    margin: auto;
                    padding-top: 20px;
                    width: 500px;
                    height: 500px;
                {#                    background-color: #5cb85c;#}
                }

                div.p {
                    margin-top: 20px;
                    font-family: '微软雅黑';
                    font-size: 18px;
                }

                div.p > p {
                    padding-bottom: 5px;
                }
            </style>

            <div class="user_index">
                <h3>位置：<a href="{{ url_for('main.manager_index') }}">后台管理首页</a></h3>
                <br/>
                <h3>欢迎使用大学生创新创业活动管理系统</h3>
                <div class="p">

                    <p>用户名：{{ current_user.username }}</p>
                    <p>真实姓名/使用者：{{ current_user.real_name }}</p>
                    <p>用户状态：{% if current_user.power == 1 %}创新创业者{% else %}管理员{% endif %}</p>
                </div>
            </div>

        {% endblock %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".submenu").hide();
            //initPage();
            var Accordion = function (el, multiple) {
                this.el = el;
                this.multiple = multiple;
                var links = this.el.find('.link');
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            };
            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this);
                $next = $this.next();
                $next.slideToggle();
                $this.parent().toggleClass('open');
                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
            };
            var accordion = new Accordion($('#accordion'), false);
        });
    </script>

{% endblock %}