{% extends "base.html" %}

{% block main %}

    <div class="left" id="accordion">
        <ul>
            <li>
                <div class="link"><a href="{{ url_for('main.user_profile') }}">个人账号</a></div>
            </li>

            <li>
                <div class="link"><a href="{{ url_for('main.user_submit_history') }}">提交历史记录</a></div>
            </li>

            <li>
                <div class="link"><a href="{{ url_for('main.user_competition') }}">竞赛获奖</a></div>
            </li>

            <li>
                <div class="link">论文发表</div>
            </li>
            <li>
                <div class="link">项目立项</div>
            </li>
            <li>
                <div class="link">公司注册</div>
            </li>
            <li>
                <div class="link">其他成果</div>
            </li>
        </ul>
    </div>

    <div class="content" id="content">
        {% block content %}

        {% endblock %}
    </div>

{% endblock %}