{% extends "base.html" %}

{% block main %}

    <div class="left" id="accordion">
        <ul>

            <li>
                <div class="link"><a href="{{ url_for('main.user_index') }}">用户首页</a></div>
            </li>
            <li>
                <div class="link"><a href="{{ url_for('main.user_profile') }}">密码修改</a></div>
            </li>

            <li>
                <div class="link"><a href="{{ url_for('main.user_submit_history') }}">提交历史记录</a></div>
            </li>

            <li>
                <div class="link"><a href="{{ url_for('main.user_competition') }}">竞赛获奖</a></div>
            </li>

            <li>
                <div class="link"><a href="{{ url_for('main.user_thesis') }}">论文发表</a></div>
            </li>
            <li>
                <div class="link">项目立项</div>
            </li>
            <li>
                <div class="link">公司注册</div>
            </li>
            <li>
                <div class="link">其他成果</div>
            </li>
        </ul>
    </div>

    <div class="content" id="content">
        {% block content %}

            <style>
                div.user_index {
                    margin: auto;
                    padding-top: 20px;
                    width: 500px;
                    height: 500px;
                {#                    background-color: #5cb85c;#}
                }

                div.p {
                    margin-top: 20px;
                    font-family: '微软雅黑';
                    font-size: 18px;
                }

                div.p > p {
                    padding-bottom: 5px;
                }
            </style>

            <div class="user_index">
                <h3>位置：<a href="{{ url_for('main.user_index') }}">用户首页</a></h3>
                <br/>
                <h3>欢迎使用大学生创新创业活动管理系统</h3>
                <div class="p">

                    <p>用户名：{{ current_user.username }}</p>
                    <p>真是姓名/使用者：{{ current_user.real_name }}</p>
                    <p>用户状态：{% if current_user.power == 1 %}创新创业者{% else %}管理员{% endif %}</p>
                </div>
            </div>

        {% endblock %}
    </div>

{% endblock %}